{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author.last_name }} {{ author.first_name }}</h1>
  
  {% if author.date_of_birth %}
    <p><strong>Date of birth:</strong> {{ author.date_of_birth }}</p>
  {% endif %}
  {% if author.date_of_death %}
    <p><strong>Date of death:</strong> {{ author.date_of_death }}</p>
  {% endif %}

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>
    <hr>
    {% for book in author.book_set.all %}
      <p><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></p>
    {% endfor %}
  </div>

  {% if perms.catalog.can_mark_returned %}
    <div style="margin-left:20px;margin-top:40px">
      <h4>Manage author</h4>
      <hr>
      <p><a href="{% url 'author_update' author.pk %}">Edit author's information</a></p>
      <p><a class="link-red" href="{% url 'author_delete' author.pk %}">Delete author</a></p>
    </div>
    {% endif %}

{% endblock %}
